* {
  /*background-color: black;*/
  /*color: white;*/
}

.chart {
  width: 45%;
  height: 20%;
}

.nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.nav a:hover {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

#planTable {
  border-style: solid;
}
